services:
  backend:
    build: ./server
    container_name: backend-dev
    restart: always
    env_file:
      - ./server/.env
    ports:
      - "4000:4000"

  frontend:
    build: ./client
    container_name: frontend-dev
    restart: always
    ports:
      - "5173:5173"
    env_file:
      - ./client/.env
    depends_on:
      - backend